.container {
    display: grid;
    grid-template: repeat(8, 200px) / repeat(6, 100px);
  }
   
  .info {
    grid-area: 1 / 1 / 9 / 4;
  }
   
  .services {
    grid-area: 1 / 4 / 9 / 7;
  }
   
  img {
    grid-area: 2 / 3 / 5 / 5;
    z-index: 5;
  }

  p{
    color:red; 
  } 

  li{
    color:aquamarine
  }